# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Projectile
projectile-bookmarks.eld
projectile.cache

# Emacs package
elpa/

# Emacs tmp file
\#*\#
.\#*

# Emacs config file
recentf

# Emacs eshell data
eshell/

# Emacs anaconda data
anaconda-mode/

# pyim
pyim

# vim tmp file
*.sw[p,o]

.cache
